:root{
    --fundo:#8B008B;
    --cor-frente:#BA55D3;
    --cor-verso: #F5FFFA;
    --destaque:#EE82EE;
    --preto:	#000000;
    --branco:#ffffff;
}
body{
    background-color: var(--fundo);
    margin: 0; 

}

header{
    background-color: var(--preto);
    display: flex;
    justify-content: space-around;

}

header{
    color: var(--branco);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--branco);
    color:var(--preto);
    width: 100%;
    text-align: center;
}