:root{
    --fundo:#8B008B;
    --cor-frente:#BA55D3;
    --cor-verso: #d2a0df;
    --destaque:#EE82EE;
    --preto:	#000000;
    --branco:#ffffff;
}
body{
    background-color: var(--fundo);
    margin: 0; 

}

header{
    background-color: var(--preto);
    display: flex;
    justify-content: space-around;

}

header{
    color: var(--branco);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--branco);
    color:var(--preto);
    width: 100%;
    text-align: center;
}

#container{
    display: grid;
    gap: 3rem;
    padding: 4rem;
}

.cartao{
    background-color: var(--cor-frente);
    padding: 40px;
    color: var(--branco);
    box-shadow: 6px 5px 18px var(--preto);
}

.cartao:hover{
    transform: scale(1.03);
}
.resposta-cartao{
    padding: 40px;
    background-color: var(--cor-verso);
    color: white;
    display: none;
}