:root{
    --fundo:#8B008B;
    --cor-frente:#BA55D3;
    --cor-verso: #F5FFFA;
    --destaque:#EE82EE;
    --preto:	#000000;
    --branco:#ffffff;
}
body{
    background-color: var(--fundo);
    martin: 0;

}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--branco);
    color:var(--preto);
    width: 100%;
    text-aling: center;
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}

.conteudo-cartao{
    background-color: var(--cor-frente);
    height: 100%;
    text-align: center;
}

.conteudo-cartao h3{
    border: 1px solid var(--destaque);
    border-radius: 6rem;
    color: var(--destaque);
    padding: 0.5rem;
    margin: 0,5rem;
    position: absolute;
    text-align: left;
    font-size: 1.2vw;
}