:root{
    --fundo:#8B008B;
    --cor-frente:#BA55D3;
    --cor-verso: #F5FFFA;
    --destaque:#EE82EE;
    --preto:	#000000;
    --branco:#ffffff;
}
body{
    background-color: var(--fundo);
    martin: 0;

}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--branco);
    color:var(--preto);
    width: 100%;
    text-aling: center;
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}